.WikiaTimeMachine {
	background: 10px 10px url('chrome-extension://__MSG_@@extension_id__/spoilguard-40.png') no-repeat;
	border-bottom: 1px solid #ebebeb;
	box-sizing: border-box;
	height: 60px;
	padding: 11px 0 0 60px;
}

.WikiaTimeMachine p {
	font-weight: bold;
	margin: 0;
}