<tt xmlns:tts="http://www.w3.org/2006/04/ttaf1#styling" xmlns="http://www.w3.org/2006/04/ttaf1" xml:lang="en">
	<head>
		<styling>
			<style id="defaultCaption" tts:fontSize="30" tts:fontFamily="sansSerif"
			tts:fontWeight="normal" tts:fontStyle="normal" tts:textDecoration="none"
			tts:color="white" tts:backgroundColor="#00000000" tts:textAlign="left" />
		</styling>
	</head>
	<body id="thebody">
		<div style="defaultCaption" xml:lang="en">
			{{#annotation}}
			<p begin="{{begin}}" end="{{end}}">{{msg}}</p>
			{{/annotation}}
		</div>
	</body>
</tt>