<tt xmlns:tts="http://www.w3.org/2006/04/ttaf1#styling" xmlns="http://www.w3.org/2006/04/ttaf1" xml:lang="en">
	<head>
		<styling>
			<style id="defaultCaption" tts:fontSize="12" tts:fontFamily="SansSerif"
			tts:fontWeight="normal" tts:fontStyle="normal" tts:textDecoration="none"
			tts:color="white" tts:backgroundColor="black" tts:textAlign="left" />
		</styling>
	</head>
	<body id="thebody">
		<div style="defaultCaption" xml:lang="en">
			<p begin="0:00:00.00" end="0:00:00.10">This is my 1st caption</p>
			<p begin="0:00:00.20" end="0:00:00.30">This is my 2nd caption</p>
			<p begin="0:00:00.37" end="0:00:00.45">This is my 3rd caption</p>
			<p begin="0:00:00.50" end="0:00:01.10">This is my 4th caption</p>
			<p begin="0:00:01.20" end="0:00:01.45">This is my 5th caption</p>
			<p begin="0:00:02.00" end="0:00:05.00">This is my 6th caption</p>
			<p begin="0:00:06.00" end="0:00:12.00">This is my 7th caption</p>
			<p begin="0:00:15.00" end="0:00:30.00">This is my 8th caption</p>
			<p begin="0:00:31.00" end="0:00:45.00">This is my 9th caption</p>
			<p begin="0:00:47.00" end="0:00:57.00">This is my 10th caption</p>
			<p begin="0:01:00.00" end="0:01:30.00">This is my 11th caption</p>
			<p begin="0:01:33.00" end="0:01:45.00">This is my 12th caption</p>
		</div>
	</body>
</tt>