<div id="NATIVE_FLITE_POLL">
    {{#flitePollId}}
    <script>
        (function() {
            var guid = "{{flitePollId}}", o = window, r = "", m, s = "http:", e = encodeURIComponent, x = 0, f = document.createElement("script");
            o.FLITE=o.FLITE || {};
            o.FLITE.config = o.FLITE.config || {};
            o.FLITE.config[guid] = o.FLITE.config[guid] || {};
            o.FLITE.config[guid].cb = Math.random();
            o.FLITE.config[guid].ts = (+ new Date());
            try{ r = (top===self && top.location) ? top.location.href : document.referrer || (top.location && top.location.href) || "";}catch(er){x=1}
            try{ s = o.location && o.location.protocol === "https:"? o.location.protocol : s;}catch(er){x+=2}
            try{ m = r.match(new RegExp("[A-Za-z]+:[/][/][A-Za-z0-9.-]+")); } catch(er) {x+=4}
            f.src = [s,"//r.flite.com/syndication/uscript.js?i=",e(guid),"&v=3","&x=us",x,"&cb=",o.FLITE.config[guid].cb,"&d=",e((m && m[0]) || r), "&tz=", (new Date()).getTimezoneOffset()].join("");
            document.write(f.outerHTML);
            })();
    </script>
    {{/flitePollId}}
</div>