.dashboard-element {
	display: inline-block;
	text-align: center;
}

.chart {
	height: 300px;
	width: 580px;
}

.gauge {
	height: 270px;
	width: 270px;
}

svg {
	width: 100%;
	height: 100%;
}

path.slice {
	stroke-width: 2px;
}

polyline {
	opacity: .5;
	stroke: black;
	stroke-width: 1px;
	fill: none;
}

/* Gridster styles */
.gridster {
	width: 940px;
	margin: 0 auto;

	ul {
		list-style-type: none;
	}

	li {
		background-color: rgba(10, 95, 163, 0.3);
		border: 1px solid black;
		text-align: center;
		cursor: pointer;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);

		&:hover {
			background-color: rgba(10, 95, 163, 0.1);
		}
	}
}

#gaugePortability {
	margin-left: 40px;
	margin-top: 10px;
}

#gaugeWAM {
	margin-left: 50px;
	margin-top: 10px;
}

#templateTypesChart {
	margin-top: 50px;
}

#portabilityGaugeContainer {
	margin-top: 10px;
}