<section class="item character" data-itemid="{{{itemid}}}" data-title="{{{title}}}" data-link="{{{link}}}" data-image="{{{image}}}" data-description="{{{description}}}">
	{{#isAllowedToEdit}}
    <a href="#" class="remove"></a>
	{{/isAllowedToEdit}}
    <a href="{{{publicLinkUrl}}}" title="{{{title}}}" title="{{{title}}}">
        <img class="item-image" src="{{{publicImagePath}}}"/>
        <h1 class="item-title sg-main">{{{title}}}</h1>
    </a>
</section>
