// make player full width of container
.fullImageLink {
	width: 100%;
	position: relative;

	&:before {
		content: "";
		display: block;
		padding-top: 56%;
	}

	> div { // video player
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.annotation-control, .annotation-start-pause {
	display: block;
	float: right;
	margin: -10px 0 0 10px;
	outline: none;
}

#annotation-form-holder {
	margin: 0 -0.83333em;
}

#submit-annotation-form {
	clear: both;
	float: right;
	outline: none;
}

.video-annotations-wrapper {
	.form-item {
		float: left !important;

		.inner {
			@include clearfix;
			border: 1px solid #CCC;
			border-radius: 10px;
			padding: 5px 10px;
		}

		textarea {
			height: 100px;
		}
	}
	.close {
		display: block;
		text-align: right;
		margin-bottom: -12px;
	}

}
