.qtip {
	max-width: 900px;
	width: 900px;
}
.qtip .WikiaMainContent {
	margin-right: 0;
	max-height: 600px;
	overflow-y: auto;
}
.qtip .WikiaMainContentContainer {
	margin-right: 0;
}
.qtip .tab {
	cursor: pointer;
	display: inline-block;
	padding: 4px 8px;
	border: 1px solid #666666;
	border-bottom: 0;
	background-color: white;
}

.qtip .tab.selected {
	border-color: #557755;
	background-color: #ddffdd;
}