@import "extensions/wikia/SpecialTrending/bootstrap/css/bootstrap";
@import "extensions/wikia/SpecialTrending/bootstrap/css/bootstrap-theme";

.AdminDashboardHeader h1 a:before {
	content: "🔙";
}
.tab-contents:not(.active) {
	display: none;
}

.trending-tabs a.active {
	font-weight: bold;
}
