@import "extensions/wikia/SpecialTrending/bootstrap/css/bootstrap";
@import "extensions/wikia/SpecialTrending/bootstrap/css/bootstrap-theme";

.AdminDashboardHeader h1 a:before {
	content: "\27F5";
}
.AdminDashboardGeneralHeader {
	height: 50px !important;
}
.AdminDashboardArticleHeader h1 {
	font-weight: bold;
	font-size: 24px !important;
	padding: 10px;
}
.tab-contents:not(.active) {
	display: none;
}

.trending-tabs a.active {
	font-weight: bold;
}
canvas#chart {
	float: right;
	height: 400px;
	margin-left: 20px;
	width: 600px;
}

.tab-contents table {
	width: calc(100% - 620px);
}

tr.active {
  font-weight: bold;
}
