<ul class="pi-query--list">
	{{#items}}
		<li>
			<a href="{{url}}" title="{{title}}">
				<figure>
					<img src="{{image}}" alt="{{title}}" width="30" height="30" />
					<figcaption>{{title}}</figcaption>
				</figure>
			</a>
		</li>
	{{/items}}
</ul>