@import "../../../../skins/oasis/css/core/color";
@import "../../../../skins/oasis/css/mixins/box-sizing";
@import "../../../../skins/oasis/css/mixins/gradient";
@import "../../../../skins/oasis/css/mixins/ellipses";
@import "../../../../skins/oasis/css/mixins/image-replacement";

.VMD-header {
	border-bottom: 1px solid $color-page-border;
	padding-bottom: 10px;
}

.VMD-wrapper {
	h1 {
		font-size: 26px;
		margin: 0 -10px 25px;
		padding-left: 10px;
		padding-top: 23px;
	}
	.VMD-form {
		float: left;
		margin-right: 23px;
		width: 487px;

		.hidden {
			display: none;
		}
		fieldset {
			border: none;
			margin-bottom: 20px;
		}
		fieldset.VMD-details {
			margin-bottom: 0;

			legend {
				padding-top: 25px;
			}
		}
		legend {
			font-size: 18px;
			display: block;
			margin-bottom: 20px;
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			width: 100%;
		}
		.input-group {
			float: none;
			margin-bottom: 10px;
			padding-left: 17px;
			padding-right: 0;
			position: relative;
		}
		input[type="text"],
		textarea,
		select {
			width: 470px;
			@include box-sizing();
		}
		textarea {
			height: 80px;
			resize: none;
		}
		input[type="submit"] {
			margin-left: 17px;
			margin-bottom: 115px;
		}
	}
	.VMD-player-wrapper {
		float: left;
		padding-top: 28px;
		position: relative;

		.fixed {
			top: 0;
			padding-top: 10px;
			position: fixed;
		}
	}
}

.VMD-form.WikiaForm {
	ul {
		margin: 0;
		list-style: none;
	}

	button {
		margin-bottom: 10px;
	}

	.reference-list {
		border: 1px dashed $color-page-border;
		margin-top: 5px;
		overflow: hidden;
		padding: 10px 0 0 10px;
		width: 100%;
		@include box-sizing();

		.reference-item {
			border: 1px solid $color-page-border;
			float: left;
			height: 52px;
			margin: 0 10px 10px 0;
			padding: 4px;
			position: relative;
			width: 219px;
			@include linear-gradient($color-secondary-button, top, $color-secondary-button-highlight, 10%, $color-secondary-button, 65%);

			p,
			span {
				width: 133px;
			}
			.remove-item {
				background-image: url("/extensions/wikia/SDSVideoMetadata/images/remove_icon.png") /* base64 */ ;
				@if $is-dark-wiki {
					background-image: url("/extensions/wikia/SDSVideoMetadata/images/remove_icon.png_dark.png") /* base64 */ ;
				}
				display: block;
				height: 10px;
				position: absolute;
				right: 10px;
				top: 10px;
				width: 10px;
				@include image-replacement();
			}
		}
	}
	.reference-item {
		height: 50px;
		margin: 0;
		padding: 4px 10px 4px 4px;
		@include box-sizing();

		img {
			background-image: url("/extensions/wikia/SDSVideoMetadata/images/img_placeholder.png") /* base64 */;
			background-position: left top;
			background-repeat: no-repeat;
			display: block;
			float: left;
			height: 42px;
			padding-right: 10px;
			width: 42px;
		}
		p,
		span {
			width: 124px;
			@include ellipses();
		}
		p {
			font-size: 12px;
			font-weight: bold;
			line-height: 12px;
			margin: 0;
			margin-top: 5px;
		}
		span {
			color: $color-alternate-text;
			display: inline-block;
			float: left;
			padding-top: 2px;
			font-size: 10px;
		}
	}
	.suggestions-dropdown {
		background-color: $color-page;
		border: 1px solid $color-page-border;;
		position: absolute;
		left: 17px;
		top: 55px;
		width: 192px;
		z-index: 2;
		@include box-sizing();

		.reference-item p {
			color: $color-alternate-text;
		}
		.remove-item {
			display: none;
		}
		.create-new-btn:hover,
		.reference-item:hover {
			background-color: darken($color-page, 10%);
			@if $is-dark-wiki {
				background-color: lighten($color-page, 10%);
			}
		}
		.no-results,
		.throbber,
		.create-new-btn {
			font-size: 12px;
			font-weight: bold;
			height: 50px;
			margin: 0;
			padding: 20px 4px 15px 10px;
			text-decoration: none;
			@include box-sizing();
		}
		.create-new-btn {
			display: block;
		}
		.throbber {
			position: relative;
		}
	}

}


