<li class="reference-item">
	{{#imgURL}}
		<img scr="{{imgURL}}" alt="{{objectName}}" />
	{{/imgURL}}
	<p>{{objectName}}</p>
	<span class="object-param">{{objectParam}}</span>
	<input type="hidden" name="{{propName}}[{{pos}}][name]" value="{{objectName}}">
	<input type="hidden" name="{{propName}}[{{pos}}][id]" value="{{objectId}}">
	<a href="" class="remove-item" title="{{removeMsg}}">{{removeMsg}}</a>
</li>