@import 'skins/shared/mixins/animation';
@import 'skins/shared/mixins/transform';
@import 'skins/shared/mixins/blackout';
@import 'skins/shared/color';

@include keyframes (pop-out) {
	0% {
		transform: scale(0);
	}
}

@include keyframes (bounce) {
	0% {
		animation-timing-function: ease-in;
		transform: translateY(0) scale(1);
	}

	10% {
		transform: scale(1.25, .75);
	}

	20% {
		animation-timing-function: ease-out;
		transform: scale(.75, 1.25);
	}

	60% {
		animation-timing-function: ease-in;
		transform: translateY(-20px);
	}
}

.auth-blackout {
	@include blackout;
	box-sizing: border-box;
	opacity: 1;
	padding: 50px 10%;

	&.visible {
		z-index: $zTop + 5000;
	}
}

.auth-modal {
	box-sizing: border-box;
	height: 670px;
	margin: auto;
	max-width: 768px;
	position: relative;
	width: 100%;

	&.loading {
		.wikia-logo-blocker {
			animation-duration: .5s;
			animation-iteration-count: 1;
			animation-name: pop-out;
			animation-timing-function: cubic-bezier(0, 0, 0, 1.75);
			background: url('/extensions/wikia/AuthModal/svg/wikia-logo-only-brackets.svg') no-repeat; /* inline */
			background-size: cover;
			height: 64px;
			left: 50%;
			margin: -32px 0 0 -32px;
			position: absolute;
			top: 50%;
			width: 64px;

			.dot-left,
			.dot-right {
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-name: bounce;
				background: #fff;
				border: 2px solid $color-wikiahome-community;
				border-radius: 50%;
				height: 8px;
				position: absolute;
				top: 12px;
				transform-origin: bottom;
				width: 8px;
			}

			.dot-left {
				left: 15px;
			}

			.dot-right {
				animation-delay: -.5s;
				right: 15px;
			}
		}

		iframe {
			display: none;
		}

		.close {
			display: none;
		}
	}

	iframe {
		display: block;
		height: 100%;
		width: 100%;
	}

	.close {
		background: url('/extensions/wikia/AuthModal/svg/close.svg'); /* inline */
		background-position: center;
		background-repeat: no-repeat;
		box-sizing: content-box;
		float: right;
		height: 15px;
		padding: 15px 20px;
		position: absolute;
		right: 0;
		top: 0;
		width: 15px;
	}
}
