<div class="form-item">
	<input type="text" class="start-time" value="{{startTime}}">
	<input type="text" class="duration" value="{{duration}}">
	<textarea class="message">{{message}}</textarea>
</div>