// TODO use Venus colors
@import "skins/oasis/css/core/color.scss";

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	color: $color-links;
}

.clearfix {
	@include clearfix;
}
