// TODO use Venus colors
@import "skins/oasis/css/core/color.scss";
@import "extensions/wikia/Venus/styles/mixins.scss";

$color-search-form-background: mix($color-page, #000, 97%);
@if $is-dark-wiki {
	$color-search-form-background: mix($color-page, #fff, 90%);
}

a {
	text-decoration: none;
}

.clearfix {
	clear: both;
}

.subtext {
	color: #64696C;
	font-size: 16px;
	line-height: 22px;
}

.headline {
	color: #0A6EB4;
	font-size: 22px;
	line-height: 26px;
}

.body-text {
	color: #3C3C3C;
	font-size: 18px;
	line-height: 24px;
}

.results-section {
	margin-top: 30px;
}

.result-count {
	color: #64696C;
	font-family: "Helvetica Neue";
	font-size: 16px;
	margin-bottom: 5px;
	text-align: left;
}

.results {
	margin-top: 40px;
}

.result {
	margin-top: 35px;
	.searchmatch {
		font-weight: bold;
	}
	.thumbnail {
		background-color: #EEF1F3;
		display: table;
		height: 158px;
		text-align: center;
		width: 280px;
		.thumbnail-wrapper {
			display: table-cell;
			vertical-align: middle;
			position: relative;
		}
		.image-wrapper {
			display: inline;
			position: relative;
		}
		.duration {
			display: none;
		}
		.play-circle {
			background-image: url('/extensions/wikia/Search/images/play_btn.svg'); /* base64 */
			background-position: center;
			background-repeat: no-repeat;
			bottom: 15px;
			height: 33px;
			left: 15px;
			position: absolute;
			width: 33px;
		}
	}
	.result-description {
		.headline {
			margin: 0;
		}
		.subtext {
			margin-bottom: 14px;
			margin-top: 8px;
		}
	}
}

.SearchTabsContainer {
	background-color: $color-search-form-background;
	@include clearfix;
}

.SearchTabs {
	list-style: none;
	padding: 0;

	li {
		float: left;
		margin-right: 45px;

		a {
			display: block;
			line-height: 75px;
		}

		&.selected {
			position: relative;
			&:after {
				border: 10px solid $color-page;
				border-top-color: $color-search-form-background;
				// TODO mixin calc
				left: calc( 50% - 10px );
				top: 75px;
				display: block;
				content: " ";
				position: absolute;
			}

			a {
				font-weight: bold;
			}
		}

		a:hover, &.selected a {
			color: $color-text;
		}
	}
}

@media screen and (max-width: 1023px) {
	.thumbnail {
		height: 138px;
		width: 245px;
		img {
			max-width: 245px;
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1280) {
	.thumbnail {
		height: 139px;
		width: 247px;
		img {
			max-width: 247px;
		}
	}
}
