<li class="reference-item" data-pos="{{pos}}">
	<img scr="{{imgURL}}" />
	<p class="object-name">{{objectName}}</p>
	<span class="object-param">{{objectParam}}</span>
	<input type="hidden" name="{{propName}}[{{pos}}][name]" value="{{objectName}}">
	<input type="hidden" name="{{propName}}[{{pos}}][id]" class="object-id" value="{{objectId}}">
	<a href="" class="remove-item" title="{{removeMsg}}">{{removeMsg}}</a>
</li>