<div class="suggestions-dropdown">
	<ul>
	</ul>
	<div class="throbber"></div>
	<p class="no-results hidden">{{noSuggestionsFound}}</p>
	<a href="" class="create-new-btn" title="{{createNewBtnMsg}}">{{createNewBtnMsg}}</a>
</div>