<div class="article-snippet" id="{{snippetId}}">
	<h2 class="article-snippet-title">{{title}}</h2>
	<div class="article-snippet-left">
		<img src="{{imageUrl}}">
	</div>
	<div class="article-snippet-right">
		{{#highlights}}
			<div class="article-snippet-item">
				<h3 class="article-snippet-item-label">{{label}}</h3>
				<div class="article-snippet-item-value">{{value}}</div>
			</div>
		{{/highlights}}
	</div>
</div>
