@import "skins/shared/color";

.mom-character-modal {
  background: $color-page;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  .after-upload-btn-group {
    align-items: flex-start;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)); /* Standard syntax */
    display: none;
    justify-content: center;
    left: -5px;
    position: absolute;
    right: -7px;
    top: -5px;
  }
  .after-upload-icon {
    height: 24px;
  }
  .after-upload-text {
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .btn-group {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .image-wrap {
    display: none;
    height: 250px;
    width: 250px;
  }
  .input {
    background: #C7D1D8;
    border: none;
    outline: none;
  }
  .label {
    font-weight: 700;
  }
  .modal-bottom-bar {
    padding: 10px 5px;
    border-top: 1px solid $color-page-border;
  }
  .modal-content {
    display: flex;
    flex-grow: 1;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 20px 0 0;
  }
  .modal-upload {
    background: #092140;
    height: 250px;
    margin: 20px;
    position: relative;
    width: 250px;
  }
  .new-btn {
    border: 1px solid #092140;
    cursor: pointer;
    display: block;
    height: 20px;
    margin: 0 5px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    &.edit-btn {
      display: none;
    }
  }
  .new-btn.inverse-btn {
    background-color: #FFFFFF;
    color: #092140;
    &:hover {
      background-color: #0a5fa3;
      border: 1px solid #0a5fa3;
      color: #fff;
    }
  }
  .new-btn.default-btn {
    background-color: #092140;
    color: #fff;
    &:hover {
      background-color: #0a5fa3;
      border: 1px solid #0a5fa3;
    }
  }
  .overlay {
    display: none;
    background: rgba(0, 0, 0, .3);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .overlay-flex {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
  .overlay-text {
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .sg-main {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  .sg-sub {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .upload {
    border: 1px dashed $color-page-border;
    display: flex;
    height: 95%;
    justify-content: center;
    margin: 2%;
    position: absolute;
    width: 95%;
    z-index: 1;
  }
  .upload-btn {
    &:hover {
      cursor: pointer;
    }
  }
  .upload-btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .upload-call {
    color: #FFFFFF;
    margin: 0 auto;
    text-transform: uppercase;
  }
  .upload-call-sub {
    color: #FFFFFF;
  }
  .upload-icon {
    display: block;
    height: 30px;
    margin: 10px auto;
  }
  .upload-mask {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .upload-state {
    .after-upload-btn-group {
      display: flex;
    }
    .upload {
      border: none;
    }
    .upload-btn-group {
      display: none;
    }
    .image-wrap {
      display: block;
      position: absolute;
      top:0;
    }
  }
}

.mom-character-module {
  //general
  position: relative;
  .add-block {
    .add-icon {
      vertical-align: baseline;
    }
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    height: 15vw;
    justify-content: center;
    margin: 10px 5px;
    max-height: 250px;
    max-width: 250px;
    min-height: 200px;
    min-width: 200px;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 15vw;
  }
  .add-icon {
    width: 17px;
    vertical-align: sub;
  }
  .bar {
    align-items: center;
    border-bottom: 1px solid $color-page-border;
    display: flex;
    padding-bottom: 5px;
    margin: 0 8%;
  }
  .btn-group {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 8% 20px 8%;
    .item {
      border: 1px dashed $color-page-border;
      display: block;
      height: 15vw;
      margin: 10px 5px 0 5px;
      max-height: 250px;
      max-width: 250px;
      min-height: 200px;
      min-width: 200px;
      position: relative;
      text-align: center;
      width: 15vw;
    }
    .item-image {
      max-height: 100%;
      max-width: 100%;
    }
    .item-title {
      background: rgba(255, 255, 255, .6);
      bottom: 0;
      color: $color-text-dark;
      position: absolute;
      width: 100%;
    }
  }
  .modal-wrap {
    display: none;
  }
  .settings-btn {
    background: url('/extensions/wikia/NjordPrototype/images/gear_b.svg') center no-repeat; /* base64 */
    background-size: 25px;
    &:hover {
      background: url('/extensions/wikia/NjordPrototype/images/gear.svg') center no-repeat; /* base64 */
      background-size: 25px;
    }
  }
  .title-wrap {
    .btn-bar {
      align-items: center;
      border: 1px solid #092140;
      background-color: white;
      display: flex;
      display: -webkit-flex;
      justify-content: flex-end;
      padding: 10px 15px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
      -webkit-justify-content: flex-end;
      -webkit-align-items: center;
    }
    .edit-box {
      background-color: rgba(0, 0, 0, .03);
      display: none;
      position: absolute;
      width: 450px;
      z-index: 1;
    }
    .mc-title {
      display: block;
      min-height: 1.2em;
      outline: none;
      overflow: hidden;
      white-space: nowrap;
    }
    .hero-title {
      min-height: 44px;
      outline: none;
      word-wrap: break-word;
    }
    .title-edit-btn {
      cursor: pointer;
      height: 20px;
      vertical-align: middle;
    }
    .title-text {
      word-wrap: break-word;
      max-width: 400px;
    }
    display: inline-block;
    height: 32px;
    position: relative;
  }

  //states
  .edit-state {
    .edit-box {
      display: block;
    }
    .text-wrap {
      display: none;
    }
  }
  .filled-state {
    .item {
      border: none;
    }
    .title-default-text {
      display: none;
    }
  }
  .no-edit-state {

  }
  .zero-state {
    .add-block {
      display: flex;
    }
    .title-text {
      display: none;
    }
  }

  //general texts and buttons
  .new-btn {
    border: 1px solid #092140;
    cursor: pointer;
    display: block;
    height: 20px;
    margin: 0 5px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    &.edit-btn {
      display: none;
    }
  }
  .new-btn.inverse-btn {
    background-color: #FFFFFF;
    color: #092140;
    &:hover {
      background-color: #0a5fa3;
      border: 1px solid #0a5fa3;
      color: #fff;
    }
  }
  .new-btn.default-btn {
    background-color: #092140;
    color: #fff;
    &:hover {
      background-color: #0a5fa3;
      border: 1px solid #0a5fa3;
    }
  }
  .sg-main {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  .sg-main-small {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }

  .sg-title {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
  }

  .sg-sub {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .sg-sub-title {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
  }
}